<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="sheetUrl" value="https://docs.google.com/forms/d/e/1FAIpQLSdTZFP8JGGI-IzzFtST6hblEYHgSEk7SHkM5EFo1xbHlYdQKw/viewform"/>
		<add key="time" value="11:54"/>
		<add key="time" value="11:56"/>
	</appSettings>
</configuration>